header {
    background-color: #87CEFA;
    height: 70px;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
}

div {
    background-color: #00FA9A;
    height: 150px;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
}

footer {
    background-color: #FFB6C1;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
}

p {
    background-color: #F4A460;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    margin: 0;
    margin-top: 10px;
}