#outputParent {
    width: 320px;
    height: 150px;
    background-color: black;
    font-size: 50px;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 10px 15px;
    box-sizing: border-box;
}

#output {
    text-align: end;
    height: 50%;
    position: relative;
    top: 60%;
}

table {
    border-spacing: 0;
    font-size: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

td {
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    background-color: black;
    margin: 0;
    padding: 5px;
}

td div {
    width: 100%;
    height: 100%;
    background-color: #808080;
    border-radius: 35px;
    text-align: center;
    padding-top: 17px;
}

td div.lightGrey {
    background-color: #c0c0c0;
    color: black;
}

td div.orange {
    background-color: #ffa500;
}