header,
footer {
    box-sizing: border-box;
    width: 800px;
    height: 200px;
    border: 3px solid red;
}

main {
    display: flex;
}

nav {
    box-sizing: border-box;
    width: 100px;
    height: 400px;
    border: 3px solid orange;
}

section {
    box-sizing: border-box;
    width: 700px;
    height: 400px;
    border: 3px solid orange;
}

footer {
    border-color: gray;
}