body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(220, 220, 220, .2);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 5px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: solid 1px #d3d3d3;
}

header img {
    width: 120px;
}

header select {
    width: 120px;
    height: 35px;
    border-color: #c0c0c0;
    margin-left: 20px;
    padding-left: 10px;
    box-sizing: border-box;
}

header .basket {
    background-color: #dc143c;
    color: white;
    font-weight: bold;
    display: flex;
    border-radius: 7px;
    position: relative;
}

header .basket > div {
    padding: 13px 20px;
}

header .basket > div:first-child {
    position: absolute;
    background-color: white;
    color: #dc143c;
    border-radius: 50%;
    border: solid 1px #c0c0c0;
    font-size: 12px;
    padding: 3px;
    top: 25%;
    left: -10px;
}
header .basket > div:nth-child(2) {
    border-right: solid 1px #8b0000;
}

header .basket > div:last-child a {
    text-decoration: none;
    color: white;
}


header .signIn {
    padding: 8px 30px;
    background-color: #d3d3d3;
    border-radius: 7px;
    transition: background-color 0.5s, color 0.5s;
}

header .signIn:hover {
    background-color: black;
    color: white;
}

header > div:last-child {
    font-size: 30px;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 77.5px;
}

main nav {
    width: 100%;
    padding: 0;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}

main nav ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main nav a {
    text-decoration: none;
    color: white;
}

main nav li {
    list-style-type: none;
    margin: 5px 35px;
}

main nav a:hover {
    color: #dc143c;
    transition: color 0.5s;
}

main .costumersOrder {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 650px;
}

main .costumersOrder h1 {
    font-weight: normal;
    font-size: 30px;
    padding-left: 100px;
}

main .costumersOrder #pizza {
    background-image: url('./images/dought.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    flex-grow: 1;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

main .costumersOrder #pizza img {
    margin: 10px;
}

main .constructorMenu {
    width: 25%;
    margin-right: 50px;
}

main .constructorMenu h1 {
    font-weight: normal;
    font-size: 30px;
    text-align: center;
}

main .constructorMenu h2 {
    font-weight: normal;
    color: #808080;
}

main .constructorMenu ul {
    padding: 0;
}

main .constructorMenu .type > ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-height: 280px;
    overflow-y: scroll;
}

main .constructorMenu .type > ul.hide{
    display: none;
}

main .constructorMenu li {
    list-style-type: none;
    font-size: 14px;
}

main .constructorMenu .type {
    padding: 10px 0;
    border-bottom: solid 1px #c0c0c0;
}

main .constructorMenu .type li {
    width: 75px;
    margin-right: 25px;
    margin-bottom: 30px;
    margin-top: 10px;
    font-weight: bold;
}

main .constructorMenu .result {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    font-size: 25px;
}

main .constructorMenu .result > #addToBusket {
    width: 140px;
    height: 50px;
    background-color: #dc143c;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 7px;
    font-size: 15px;
    box-sizing: border-box;
    border-radius: 5px;
}

body img.item {
    width: 75px;
    border: solid 1px #c0c0c0;
    box-sizing: border-box;
    border-radius: 3px;
}