body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    padding: 5px;
    /* position: fixed;
    width: 100%;
    top: 0;
    left: 0; */
    border-bottom: solid 1px #d3d3d3;
}

header img {
    width: 120px;
}

header .basket {
    background-color: #dc143c;
    color: white;
    font-weight: bold;
    display: flex;
    border-radius: 7px;
    position: relative;
}

header .basket > div {
    padding: 13px 20px;
}

header .basket > div:first-child {
    position: absolute;
    background-color: white;
    color: #dc143c;
    border-radius: 50%;
    border: solid 1px #c0c0c0;
    font-size: 12px;
    padding: 3px;
    top: 25%;
    left: -10px;
}

header .basket > div:nth-child(2) {
    border-right: solid 1px #8b0000;
}


header nav {
    width: 660px;
    padding: 0;
    font-size: 18px;
}

header nav ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

header nav a {
    text-decoration: none;
    color: white;
}

header nav li {
    list-style-type: none;
    margin: 5px 30px;
}

header nav a:hover {
    font-weight: bold;
    font-size: 20px;
    transition: font-weight 0.5s, font-size 0.5s;
}

header > div:last-child {
    font-size: 30px;
}

main {
    background-color: rgba(220, 220, 220, .2);
    padding: 100px;
    position: relative;
}

main form {
    background-color: white;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    box-shadow: 0 0 10px #808080;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

main form h2 {
    font-size: 20px;
    margin: 0;
}

main form .rel {
    position: relative;
}

main form input {
    width: 250px;
    height: 40px;
    border: solid 1px #d3d3d3;
    box-sizing: border-box;
    padding: 5px;
}

main form span {
    position: absolute;
    left: 270px;
}

main form button {
    width: 250px;
    height: 40px;
    background-color: #dc143c;
    border: outset 4px #dc143c;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.show {
    background-color: #dc143c;
    color: white;
    padding: 10px;
    border-radius: 5px;
    white-space: nowrap;
}

.error {
    border: solid 1px #dc143c;
}

.green {
    display: none;
}

.valid {
    border: solid 1px #00ff7f;
}

main aside#sale {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 50px;
    padding-top: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: #dc143c;
    border-radius: 20px;
}